electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
@base:registry=http://creator-npm.cocos.org:7001/
@editor:registry=http://creator-npm.cocos.org:7001/
registry=https://registry.npmmirror.com

strict-ssl=false
email=root@cocos.com
//creator-npm.cocos.org:7001/:_authToken=cnpm_1MOeWwSZ6xKadyX5bBJza0EPcP9WJDH8i_2tVhXy