electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
@base:registry=http://creator-npm.cocos.org:7001/
@editor:registry=http://creator-npm.cocos.org:7001/
#registry=https://registry.npmmirror.com
strict-ssl=false
