{
    "$schema": "https://json.schemastore.org/swcrc",
    "minify": false,
    "module": {
        "type": "commonjs"
    },
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": true,
            "dynamicImport": true,
            "decoratorsBeforeExport": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        }
    }
}
